h1 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 4em;
	margin: 0;
}

h2, h3, h4, h5, p {
	font-family: 'Arimo', sans-serif;
	margin: .5em, 0;
}

body {
	margin-top: 0;
	margin-left: 0;
}

button {

}

.export-btn {
	margin: 0;
	padding: 0;
	background-color: #ee396c;
	border: none;
	height: 40px;
	width: 25%;
	font-family: 'Yanone Kaffeesatz', sans-serif; 
	font-size: 2em;
}

.hide {
	display: none;
}

.separater {
	width: 100%;
	height: 1em;
}

.clear {
	clear: both;
}

/*header*/
.browser-head {
	cursor: pointer;
}
.browser-img {
	width: 100%;
}

.earmoji-header {
	width: 100%;
}

.earmoji-toggle {
	float: right;
	width: 5%;
	cursor: pointer;
}

.earmoji-btn-img {
	width: 100%;
}

.earmoji-img {
	width: 100%;
}

.earmoji-plugin-container {
	width: 40%;
	position: absolute;
	right: 0;
	margin-top: 0;
	background-color: #fff;
	border: 1px solid #f1f1f1;
}

.earmoji-logo {
	text-align: center;
	width: 60%;
}

.logo-img {
	width: 100%;
}

.captured-audio,
.audio-reaction-container,
.result-audio {
	background-color: #f1f1f1;
	margin: .5em .5em .5em 0;
	padding: 1em;
	display: inline-table;
	width: 90%;
}

.play-btn,
.new-play-btn {
	float: left;
	margin-right: .5em;
}

.progress {
	float: left;
	margin-top: .5em;
	width: 70%;

}

.progress-bar,
.new-progress-bar {
	border-top: 1px solid #bbb;
}

.progress-filled,
.new-progress-filled {
	border-top: 4px solid #acdee2; 
}

.audio-reaction {
	cursor: pointer;
}

.audio-reaction-container {
	width: 90%;
}

.export-share {
	width: 100%;
	text-align: center;
}

.twitter-share,
.facebook-share {
	margin: 0;
	padding: 0;
	background-color: #ee396c;
	border: none;
	height: 40px;
	width: 25%;
	font-size: 2em;
}

.youtube-logo-container {
	width: 30%;
	float: left;
}
.youtube-logo {
	width: 100%;
}

.youtube-footer {
	width: 100%;
	margin-top: 2em;
	border: 1px solid #f1f1f1;
}

.header {
	clear: both;
	height: 100px;
	background-color: #fff;
}

.youtube-page-container {
	background-color: #f1f1f1;
	clear: both;
	height: 100%;
}

.search-box {
	float: left;
	width: 50%;
}

.search-btn {
	float: left;
	width: 10%;
}

input[type="text"] {
	width: 90%;
	margin: .5em 0;
	height: 2em;
}

.video-container {
	width: 50%;
	float: left;
}

.sidebar-container {
	width: 40%;
	float: left;
	margin-left: 1em;
}

.sidebar {
	width: 100%;
}

/*container*/
.audio-emoji-box {
	height: 50px;
	width: 50px;
	margin: 5px;
	float: left;
}

/*input box and all things in it*/
.audio-input-wrapper {
	width: 50%;
	float: left;
}

.react-btn {
	background-color: pink;
	border: none;
	width: 97%;
	height: 50px;
	margin: .5em 0;
}


/*reaction box and all things in it*/
.audio-emoji-wrapper {
}

.audio-reaction-wrapper {
	width: 50%;
}